.action {
  @include mobile-tablet {
    background: rgba(255, 255, 255, 0.6);
    bottom: 0;
    left: 0;
    padding: 14px 0;
    position: fixed;
    right: 0;
    z-index: 1030;
  }

  @include desktop {
    background: #f0f0ff;
    padding: 80px 0;
  }

  &__title {
    color: #323232;
    text-align: center;

    @include mobile-tablet {
      display: none;
    }

    @include desktop {
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__button {
    @include mobile-tablet {
      font-size: 15px;
    }
  }
}
