.footer {
  background: #4648af;

  @include mobile-tablet {
    // Add extra padding for fixed action block.
    padding: 40px 0 120px;
  }

  @include desktop {
    padding: 40px 0 30px;
  }

  &__logo {
    display: block;
    margin: 0 auto;

    @include mobile-tablet {
      max-width: 100%;
    }

    @include desktop {
      width: 140px;
    }
  }

  &__social {
    padding: 40px 0 80px;
    text-align: center;
  }

  &__nav {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    @include mobile-tablet {
      margin-bottom: 40px;
    }

    @include desktop {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
    }

    &-item {
      margin-bottom: 6px;
    }

    &-link {
      color: #fff;
      padding: 8px 14px;

      &:hover {
        color: #fff;
      }

      &:visited {
        color: #fff;
      }
    }
  }

  &__copyright {
    color: #fff;
    display: block;
    font-style: normal;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    opacity: 0.8;

    @include mobile-tablet {
      font-size: 10px;
    }

    @include desktop {
      font-size: 13px;
    }
  }
}
