.header {
  @include mobile-tablet {
    $_nav-margin: 130px;

    height: 80vh;
    margin-top: -$_nav-margin;
    padding-top: $_nav-margin;
  }

  @include desktop {
    $_nav-margin: 130px;

    margin-top: -$_nav-margin;
    padding-top: $_nav-margin;
  }

  &--home {
    background: url('../../template/assets/images/home/hero.png') no-repeat
      center top;

    @include mobile-tablet {
      // background-size: contain;
    }

    @include desktop {
      background-size: cover;
    }
  }

  &--subpage {
    background: url('../../template/assets/images/home/hero.png') no-repeat
      center top;

    @include mobile-tablet {
      // background-size: contain;
    }

    @include desktop {
      background-size: cover;
    }
  }
}
