.icon {
  border-radius: 40px;
  display: inline-block;
  padding: 40px;

  &:hover {
    background-color: #fff;
  }

  &--twitter {
    background: url(../images/social/twitter.svg) no-repeat
      top center;
    background-position-y: 14px;
    background-size: 50px;
  }

  &--facebook {
    background: url(../images/social/facebook.svg)
      no-repeat top center;
    background-position-y: 14px;
    background-size: 50px;
  }
}
