.speaker {
  @include mobile-tablet {
    margin-bottom: 60px;
    padding: 36px 24px;
  }

  @include desktop {
    margin-bottom: 60px;
    padding: 36px 24px;
  }

  &__header {
    text-align: center;
    margin-bottom: 40px;

    @include mobile-tablet {
      font-size: 28px;
    }

    @include desktop {
      font-size: 34px;
    }
  }

  &__list {
    background: #fff;
    justify-content: center;

    @include mobile-tablet {
      margin-bottom: 60px;
      padding: 36px 24px;
    }

    @include desktop {
      margin-bottom: 60px;
      padding: 36px 24px;
    }
  }

  &__summary {
    color: inherit;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 14px;

    &-image {
      margin-bottom: 4px;
    }

    &-name {
      @include mobile-tablet {
        font-size: 20px;
      }

      @include desktop {
        font-size: 24px;
      }
    }

    &-message {
      @include mobile-tablet {
        font-size: 14px;
        line-height: 20px;
      }

      @include desktop {
        font-size: 18px;
      }
    }
  }

  &__profile {
    &-image {
      background: #fff;
      border: 6px solid #ececec;
      display: block;
      height: auto;
      max-width: 100%;

      @include mobile-tablet {
      }

      @include desktop {
        margin-bottom: 0 !important;
      }
    }

    &-header {
      @include mobile-tablet {
        text-align: center;
        margin-bottom: 20px;
      }

      @include desktop {
        display: flex;
        align-items: center;
      }

      &-icons {
        align-self: flex-start;
      }
    }

    &-name {
      font-weight: bold;

      @include mobile-tablet {
        font-size: 28px;
      }

      @include desktop {
        font-size: 32px;
        margin-right: 28px;
      }
    }

    &-company {
      font-weight: bold;
      margin-bottom: 12px;
    }

    &-detail {
      margin-bottom: 12px;
    }

    &-icon {
      border-radius: 26px;
      display: inline-block;
      padding: 26px 19px;

      &:hover {
        opacity: 0.8;
      }

      &--twitter {
        background: url('../../template/assets/images/social/twitter.svg')
          no-repeat top center;
        background-position-y: 14px;
        background-size: 32px;
      }

      &--facebook {
        background: url('../../template/assets/images/social/facebook.svg')
          no-repeat top center;
        background-position-y: 14px;
        background-size: 30px;
      }
    }
  }
}
