.supporter {
  @include mobile-tablet {
    margin-bottom: 60px;
    padding: 36px 24px;
  }

  @include desktop {
    margin-bottom: 60px;
    padding: 36px 24px;
  }

  &__header {
    text-align: center;
    margin-bottom: 40px;

    @include mobile-tablet {
      font-size: 28px;
    }

    @include desktop {
      font-size: 34px;
    }
  }

  &__list {
    background: #fff;
    justify-content: center;

    &--platinum {
      @include desktop {
        border: 6px solid #ddd;
      }
    }

    &--gold {
      @include desktop {
        border: 10px solid #fff;
      }
    }

    @include mobile-tablet {
      margin-bottom: 60px;
      padding: 36px 24px;
    }

    @include desktop {
      margin-bottom: 60px;
      padding: 36px 24px;
    }
  }

  &__summary {
    color: inherit;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 14px;

    &-image {
      margin-bottom: 4px;

      @include mobile-tablet {
        max-height: 160px;
      }

      @include desktop {
      }
    }

    &-name {
      @include mobile-tablet {
        font-size: 20px;
      }

      @include desktop {
        font-size: 17px;
      }
    }

    &-message {
      @include mobile-tablet {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
      }

      @include desktop {
        font-size: 18px;
      }
    }
  }
}
