/**
 * Timetable class is intended to use for wp-block-table block.
 * WP will generate the following html structure, and you should set
 * `timetable` class manually in WP editor.
 *
 * <!-- wp:table -->
 * <figure class="wp-block-table timetable table-responsive">
 *   <table />
 * </figure>
 * <!-- /wp:table -->
 */
.timetable {
  background: #fff;
  max-width: 100%;
  overflow-x: scroll;

  @include mobile-tablet {
    margin-bottom: 60px;
    padding: 36px 0;
  }

  @include desktop {
    margin-bottom: 60px;
    padding: 36px 0;
  }

  // Setting fixed width only to the first element of table header,
  // which represents timetable hours.
  & table thead {
    & th:first-child {
      width: 100px;
    }

    & th {
      border-bottom: 2px solid #ccc;
      min-width: 100px;
      padding: 20px;
      text-align: center;
      width: 18%;
    }
  }

  & table tbody {
    & td {
      padding: 20px;

      &.unused {
        background: #cecece;
      }
    }

    & tr {
      border-bottom: 1px solid #ccc;
    }
  }

  & a,
  &__title {
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  &__speaker {
    color: inherit;
    display: block;
    font-size: 14px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }

    &-icon {
      border-radius: 24px;
      float: left;
      margin-right: 4px;
      width: 30px;
    }

    &-name {
      color: inherit;
      line-height: 12px;
      margin-top: -3px;
    }
  }
}
