*tmp
*.db
*-build
*.log
*.pyc
*.swp
*.swo
secret.txt
secret.admin.txt
.dev
.idea
.vendor
.vagrant
.vscode
debug
debug.test
build
bundles
node_modules
/.env
*~
db/data
.DS_Store

!.gitkeep
!.keep

!empty
.cache
/data
/coverage
.envrc
build
