.subpage {
  &__hero {
    @include mobile-tablet {
      padding: 60px 0;
    }

    @include desktop {
      padding: 80px 120px;
    }

    &-pretitle {
      color: #fff;
      text-align: center;
      margin-bottom: 14px;

      @include mobile-tablet {
        font-size: 18px;
      }

      @include desktop {
        font-size: 24px;
      }
    }

    &-title {
      color: #fff;
      text-align: center;

      @include mobile-tablet {
        font-size: 28px;
        text-align: left;
      }

      @include desktop {
        font-size: 46px;
      }
    }

    &-share {
      margin-top: 28px;
      text-align: center;
    }
  }

  &__footer {
    padding: 80px 0 0;
    text-align: center;
  }
}
